        @font-face {
            font-family: 'LogoFont';
            src: url('font/xbox.otf') format('truetype');
            font-style: normal;
        }

        @font-face {
            font-family: 'ValorantFont';
            src: url('font/Evolventa-Regular.ttf') format('truetype');
            font-style: normal;
        }

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            line-height: 1.5;
            min-height: 100vh;
            background-image: url('photo/Valorant-Neon2.jpg');
            background-size: contain;
        }

        .container {
            max-width: 1200px;
            margin: 0 auto;
            padding: 0 20px;
        }

        /* Шапка */
        header {
            background: rgba(15, 25, 35, 0.95);
            padding: 20px 0;
            border-bottom: 2px solid #ff4655;
            position: fixed;
            width: 100%;
            top: 0;
            z-index: 1000;
            backdrop-filter: blur(10px);
        }

        .header-content {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .logo {
            font-size: 28px;
            color: #ffffff;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-family: 'LogoFont';
        }

        .nav-links {
            display: flex;
            list-style: none;
            gap: 30px;
        }

        .nav-links a {
            color: #ffffff;
            text-decoration: none;
            font-weight: 500;
            font-size: 16px;
            transition: color 0.3s;
            text-transform: uppercase;
            font-family: 'ValorantFont';
        }

        .nav-links a:hover {
            color: #ff4655;
        }

         /* Фото */
        .hero {
            padding: 500px 0 100px;
            text-align: left;
            background: linear-gradient(135deg, rgba(15, 25, 35, 0.2) 0%, rgba(26, 36, 51, 0.2) 100%);
            position: relative;
            overflow: hidden;
            border-bottom: 1px solid #ff4655;
        }

        .hero-title {
            font-size: 3.5rem;
            color: #ff4655;
            margin-bottom: 20px;
            text-transform: uppercase;
            font-family: 'ValorantFont';
        }

        .hero-subtitle {
            font-size: 1.5rem;
            color: #ffffff;
            margin-bottom: 50px;
            line-height: 1.8;
            font-family: 'ValorantFont';
        }
        
        /* Основной контент */
        .main-content {
            padding: 80px 0;
            background: #0f1923;
        }

        .welcome-section {
            display: flex;
            align-items: center;
            gap: 60px;
            margin-bottom: 80px;
        }

        .welcome-text {
            flex: 1;
        }

        .welcome-title {
            font-size: 2.5rem;
            color: #ff4655;
            margin-bottom: 20px;
            letter-spacing: 1px;
            font-family: 'ValorantFont';
        }

        .welcome-description {
            font-size: 1.1rem;
            color: #ece8e1;
            line-height: 1.8;
            font-family: 'ValorantFont';
        }

        /* Услуги */
        .services-grid {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
            justify-content: center;
            margin-bottom: 80px;
        }

        .service-card {
            flex: 1 1 350px;
            max-width: 380px;
            background: #1a2433;
            border-radius: 10px;
            padding: 30px;
            border: 1px solid #2a3a52;
            transition: transform 0.3s, box-shadow 0.3s;
            height: 450px;
            display: flex;
            flex-direction: column;
        }

        .service-card:hover {
            transform: translateY(-5px);
            box-shadow: 0 10px 30px rgba(255, 70, 85, 0.2);
            border-color: #ff4655;
        }

        .service-title {
            height: 60px;
            display: flex;
            align-items: center; 
            font-size: 1.4rem;
            color: #ff4655;
            margin-bottom: 35px;
            letter-spacing: 1px;
            font-family: 'ValorantFont';
            justify-content: center; 
            text-align: center;
        }

        .service-description {
            color: #ffffff;
            margin-bottom: 20px;
            line-height: 1.6;
            flex-grow: 1;
            font-family: 'ValorantFont';
        }

        .service-price {
            font-size: 1.4rem;
            color: #0fce5c;
            margin-bottom: 20px;
            font-family: 'ValorantFont';
        }

        .card-footer {
            margin-top: auto;
            padding-top: 20px;
        }

        .btn {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            background: #ff4655;
            color: white;
            padding: 12px 30px;
            border-radius: 5px;
            text-decoration: none;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 1px;
            border: none;
            cursor: pointer;
            width: 100%;
            font-family: 'ValorantFont';
        }

        .btn:hover {
            background: #e03e4c;
        }

        /* Статистика */
        .stats-section {
            padding: 60px 0;
            border-radius: 15px;
        }

        .stats-grid {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            gap: 40px;
            text-align: center;
        }

        .stat-item {
            padding: 20px;
        }

        .stat-number {
            font-size: 4rem;
            color: #ff4655;
            margin-bottom: 10px;
            font-family: 'ValorantFont';
        }

        .stat-label {
            color: #ffffff;
            font-size: 1.1rem;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-family: 'ValorantFont';
        }

        /* Футер */
         footer {
            background: #0f1923;
            padding: 40px 0 10px;
            border-top: 2px solid #ff4655;
        }

        .footer-content {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: flex-start;
            margin-bottom: 30px;
            gap: 10px;
        }

        .footer-section {
            flex: 1 1 250px;
        }

        .footer-section h3 {
            color: #ff4655;
            margin-bottom: 20px;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-size: 1.2rem;
            font-family: 'ValorantFont';
        }

        .footer-section p {
            color: #ffffff;
            margin-bottom: 10px;
            line-height: 1.2;
            font-family: 'ValorantFont';
        }

        .social-links a {
            color: #ffffff;
            font-size: 1rem;
            transition: color 0.3s;
            text-decoration: none;
            font-family: 'ValorantFont';
        }

        .social-links a:hover {
            color: #ff4655;
        }